name: app5
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  sensors_plus: ^5.0.0
  geolocator: ^14.0.2
  permission_handler: ^11.0.0
  vibration: ^1.7.4
  flutter_local_notifications: ^13.0.0
  audioplayers: ^5.2.1
  screen_state: ^4.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/alert.mp3